$colors: (
  tekel-blue: #486eff,
  border-color: #2121210e,
);

:root {
  @each $name, $color in $colors {
    #{'--' + $name}: $color;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body {
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
html,
body {
  overflow: hidden !important;
}

ul {
  list-style: none;
  padding-left: unset !important;
}
